// mobile proportions
/* 
    vw = 375px
    card w = 325px
    card h = 440px
    margin-top viewport = 88px
    margin lr viewport = 24px
    iconw / card = 20%
    padding inside card 45px 47px
    button 146 x 48 px
*/

$brightorange : hsl(31, 77%, 52%);
$darkcyan : hsl(184, 100%, 22%);
$verydarkcyan : hsl(179, 100%, 13%);
$parwhite : hsla(0, 0%, 100%, 0.70);
$white : hsl(0, 0%, 95%);

$font-title : 'Big Shoulders Display', sans-serif;