/* 
    vw = 375px
    card w = 325px
    card h = 440px
    margin-top viewport = 88px
    margin lr viewport = 24px
    iconw / card = 20%
    padding inside card 45px 47px
    button 146 x 48 px
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  margin: 88px 6.4vw;
}

[class^=card] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 10.23% 14.46%;
}

.card-1 {
  color: #e38826;
  background-color: #e38826;
  border-radius: 0.5rem 0.5rem 0px 0px;
}

.card-2 {
  color: #006970;
  background-color: #006970;
}

.card-3 {
  color: #004241;
  background-color: #004241;
  border-radius: 0px 0px 0.5rem 0.5rem;
}

.icon {
  max-width: 20%;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  font-stretch: ultra-condensed;
  color: #f2f2f2;
  margin-top: 10%;
}

p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 150%;
  margin-bottom: 15%;
}

button {
  width: 44.92%;
  height: 48px;
  border: none;
  border-radius: 24px;
  background-color: #f2f2f2;
  font-family: inherit;
  color: inherit;
  margin: 10% 0%;
}

button:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  border: 2px solid #f2f2f2;
  color: #f2f2f2;
  background-color: inherit;
  cursor: pointer;
}

/*
1440 x 800 px
margins 171 260 129 260
card 920 x 500
padding card 46 46 46 46
button 146 x 48 
*/
@media (min-width: 1000px) {
  body {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 63.89vw;
    height: 62.5vh;
    margin: 19vh 18.056vw 16.125vh 18.056vw;
  }
  [class^=card] {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 4.2% 5%;
    /* i want paddings to be 9.2% 5% of the card how can i do that? */
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card-1 {
    color: #e38826;
    background-color: #e38826;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
  }
  .card-2 {
    color: #006970;
    background-color: #006970;
  }
  .card-3 {
    color: #004241;
    background-color: #004241;
    border-radius: 0px 0.5rem 0.5rem 0rem;
  }
  .icon {
    max-width: 100%;
  }
  h1 {
    font-size: 2.6em;
  }
  button {
    width: 69%;
    /* Calculated by hand, need a smarter way */
    margin: auto;
  }
  p {
    height: 33%;
    margin-bottom: 45%;
  }
}
/*# sourceMappingURL=styles.css.map */